<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{post.postTitle}}
    </div>
    <div class="panel-body">
      {{post.postDescription}}
    </div>
    <div class="panel-footer">
      <div class="row" >
        <div class="col-xs-5">
            Comments go here?!
            
        </div>
        <div class="col-xs-4 col-md-offset-1 " style="float: right;">
          {{post.postAuthor}}
          
        </div>
        
      </div>
    </div>
  </div>
</div>
